@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #F9FAF8;
  background: #fff;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.navbar, 
.header {
  background: #1f2937;
}

.navbar a,
.header .hero-text {
  color: #E5E7EB;
}

.navbar a {
  text-decoration: none;
}

.header .hero-text-title {
  font-size: 48px;
  font-weight: 900;
}

/* nav {
  display: flex;
  justify-content: space-between;
} */

/* .nav-link a, 
.hero-text {
  font-size: 18px;
  color: #E5E7EB;
} */

/* ul {
  display: flex;
  align-items: center;
  gap: 25px;
} */

/* li, 
li a {
  text-decoration: none;
  list-style: none;
} */

/* .hero-container {
  display: flex;
  justify-content: space-between;
} */

/* .word-button-container {
  flex: 0;
} */

/* .image-container {
  flex: 0;
} */

/* .hero-text-title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
} */

button {
  color: #F9FAF8;
  padding: 8px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.header-button {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
}

/* .header-photo {
  width: 320px;
  height: 180px;
} */