/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.header {
  background-color: #1f2937;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 75px;
  padding-left: 100px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #F9FAF8;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-link a, 
.hero-text {
  font-size: 18px;
  color: #E5E7EB;
}

ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

li, 
li a {
  text-decoration: none;
  list-style: none;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.word-button-container {
  flex: 0;
}

.image-container {
  flex: 0;
}

.hero-text-title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
}

button {
  color: #F9FAF8;
  padding: 8px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.header-button {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
}

.header-photo {
  width: 320px;
  height: 180px;
} */